.quiz-pane {
  opacity: 0.8;
  background-color: #282c34;
  width: 60vw;
  margin: 3em auto;
  padding: 2em 2em 4em;
  border-radius: 15px;
  height: 40%;
  color: white;
  border: 2px solid white;
  box-shadow: 4px 4px 4px;
  .answers * {
    cursor: pointer;
  }
  button {
    width: 8em;
  }
  .alert-success {
    margin-top: 1em;
  }

  .spinner-pane {
    font-size: 2em;
  }
}
