.quiz-pane {
  width: 60vw;
  margin: 3em auto;
  padding: 2em 2em 4em;
  border: #4e555b 1px solid;
  border-radius: 15px;
  height: 40%;
  color: white;
  border: 2px solid white;
  box-shadow: 5px 5px 5px;
  .answers * {
    cursor: pointer;
  }
  button {
    width: 8em;
  }
  .alert-success {
    margin-top: 1em;
  }
}
