.navBarDiv {
  margin-bottom: 2em;
  .navBar {
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    color: #9c9c9c;
    border-bottom: 3px #9c9c9c double;
    a {
      margin-right: 0.5em;
      margin-left: 0.5em;
      color: #B3604D;
    }

    a:first-child {
      margin-left: 0.5em;
    }

    .user-menu {
      float: right;
      span {
        margin-right: 1em;
        font-weight: bold;
        color: #4e555b;
      }
    }

    button {
      float: right;
      color: #B3604D;
      background-color: transparent;
      border: 0;
    }
  }
}