.App {
  text-align: center;
}

body {
  width: 100%;
  background-color: #FFFAFA;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.contianerInfo {
  display: inline-flex;
  justify-content: center;
  border: 2px solid black;
  width: 100%;

}

.displaycheckBoxDiv {
  margin: 10px 10px;
  border: 2px solid black;
  display: inline-block;
  height: 100%;
  padding: 5px;
  background-color: #FFFAFA;
  vertical-align: middle;
  border-radius: 10px;
  box-shadow: 2px 3px 2px;
  /* margin: 10px;
  border-radius: 20px;


  justify-content: center;
  vertical-align: top; */

}
.chartDiv {


  display: inline-block;
  width: 80%;
  height: 80%;

  justify-content: center;

}

.chartDisplay {
  margin: 10px 10px;
  height: 80%;
  width: 80%;
  display: inline-block;
  border: 2px solid black;
  padding: 15px;
  background-color: #FFFAFA;
  border-radius: 15px;
  box-shadow: 5px 5px 5px;
  /*


  background-color: #FFF5EE;
  padding: 15px;
  width: 100%;
  display: inline-block;
   */

}

.checkBox {
  /* border: 1px solid black;

  background-color: #FFF5EE;
  padding: 10px;
  margin: 10px;
  display: inline-block; */
}

#chartHeading h1 {
  /* text-align: center; */

}

.chooseCountrydiv {
  padding: 3px;
}

span.countryLabels {
  position: relative;
  left: 10px;
}
