.App {
  text-align: center;
}

body {
  width: 100%;
  background-color: #C8D5B9;
  padding-bottom: 5px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.contianerInfo {
  display: flex;
  justify-content: space-around;
  /* border: 2px solid black; */
  width: 100%;
  background-color: #C8D5B9;

}

.displaycheckBoxDiv, .displayselectChartDiv {
  margin: 10px 50px;
  border: 2px solid black;
  display: inline-block;
  height: 100%;
  padding: 5px;
  background-color: yellow;
  vertical-align: middle;
  border-radius: 10px;
  box-shadow: 2px 3px 2px;
}
.chartDiv {


  display: inline-block;
  width: 80%;
  height: 80%;
  justify-content: space-between;

}

.chartDisplay {
  margin: 10px 10px;
  height: 80%;
  width: 97%;
  display: inline-block;
  border: 2px solid black;
  padding: 15px;
  background-color: #FAF3DD;
  border-radius: 15px;
  box-shadow: 5px 5px 5px;


}

.navBar {
  background-color: #FAF3DD;
}

.navBarDiv {
  background-color: #C8D5B9;
  margin-bottom: 0;
}

#chartHeading h1 {
  /* text-align: center; */

}

.chooseCountrydiv {
  padding: 3px;
}

span.countryLabels {
  position: relative;
  left: 10px;
}


/* Articles */


.artilceList  {
  display: inline-block;
  display: flex;
  overflow-x: scroll;
  width: 100%;
  background-color: #C8D5B9;

}

.newsfeed {
  border: 1px solid black;
  margin: 1px;
  padding: 25px 0;
  display: inline-block;
  text-decoration: none;
  color: black;
  background-color: #6F8F72;
  flex-shrink: 0;
  width: 650px;
  border-radius: 10px;
  margin-left: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-left: 40px;
  box-shadow: -1px -1px ;
}


@keyframes newsfeed {
  0% {right: 0px;}
  100% {left: -1562px;}
}

.newsfeed:hover {
  opacity: 0.8;
}

a {
  text-decoration: none;
  color: black;
}






.newsHeadline {
  background-color: #C8D5B9;
  text-align: center;
  margin: 0;
}
