.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.contianerInfo {
  display: inline-flex;
  justify-content: center;


}

.displayGraphDiv {
  margin: 10px;
  border-radius: 20px;
  border: 2px solid black;
  background-color: darkgoldenrod;
  justify-content: center;


}

.chartDisplay {
  margin: 10px 5px;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 3px 4px 2px;
  background-color: #FFFAFA;
  padding: 15px;
  width: 70%;
  display: inline-block;
  vertical-align: middle;

}

.checkBox {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 2px 3px 2px;
  background-color: #FFF5EE;
  padding: 10px;
  margin: 10px;
  display: inline-block;
}

#chartHeading h1 {
  text-align: center;

}

.chart {

  width: 60%;
}

.chooseCountryInput {
  right: 5px;
}
