.articleListDiv {
 overflow: hidden;
 position: relative;


}

a {

}
a.newsFeed {
  /* background-color:	#FF8C00; */
  /* opacity: 0.7; */
  font-size: 25px;
  color: white;
  display: inline-block;
  width: 650px;
  position: relative;
  margin: 0;
  line-height: 50px;
  text-align: center;
  text-shadow: 2px 2px black;
  transform:translateX(100%);
  animation: newsFeed 120s linear infinite;
}



@keyframes newsFeed {
  0% {transform: translateX(0%);}
  100% {transform: translateX(-1700%)}
}
